@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;  
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(55, 10, 128);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 200px;  
}
.logo{
    text-decoration:none;
    color:floralwhite;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.logo:hover{
    color: gray;
    transition: 0.4s ease;
}

.barre a{
    color:floralwhite;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.barre a:hover{
    color:grey ;
    transition:0.6s ease;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:rgb(7, 1, 15);
    
}

.main h2{
    color: whitesmoke;
    font-size: 1.4em;
    font-weight: 500;

}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color:rgb(100, 48, 184); 
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: whitesmoke;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: whitesmoke;
    background-color: rgb(55, 10, 128);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    /*TODO inline-block for sizes to work !*/
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.6s ease;
    
}

.main-btn:hover{
    background-color: rgb(100, 48, 184);
    transform: scale(1.1);
}
.social-media a{
    color:rgb(100, 48, 184);
    font-size: 2em;
    padding-right: 30px;
    
}
.social-media :hover{
    color:rgb(173, 125, 250) ;
    transform: scale(1.1);
    transition: 0.3s ease;
    
}
/* the windows of skills*/

.title{
    display: flex;
    justify-content: center;
    color: rgb(55, 10, 128);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
display: flex;
justify-content: center;
flex-direction:row;
/*when we put wrap the windows don't reduce size when you add more windows*/
flex-wrap: wrap;
}

.window{
    background-color: rgb(7, 1, 15);
    width: 21.25em;
    box-shadow: 0 10px 30px rgb(7, 1, 15);
    border-radius: 10px;
    padding: 25px;
    margin: 30px; 
    transition: 0.6s ease;  
    
}

.window:hover{
transform: scale(1.1);
}

.icon{
    color:rgb(100, 48, 184);
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}
.info h3{
    color: rgb(100, 48, 184);
font-size: 1.2em;
font-weight: 700;
margin: 10px;
}

.tec{
    background-color: rgb(7, 1, 15);
}


.tec-window{
    background-color: rgb(55, 10, 128);
    width: 15em;
    box-shadow: 0 5px 25px rgb(100, 48, 184);
    border-radius: 10px;
    padding: 10px;
    margin: 30px; 
    transition: 0.6s ease;  
}

.tec-window:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.tec-icon{
    color:whitesmoke;
    font-size: 4em;
    text-align: center;
}
.tec-info{
    text-align: center;
}
.tec-info h3{
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects .content{
    margin-top: 30px;    
}

.pro-window {
    background-color:rgb(7, 1, 15);
    border: 10px solid rgb(7, 1, 15);
    min-height: 14em;
    width:23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.pro-window:hover{
    transform: scale(1.1);
}
.pro-window:hover .pro-image{
 opacity: 0.7;
}
.pro-image img{
    width: 100%;
}
.pro-info{
    padding: 1em;
    color: whitesmoke;
}
.pro-catg {
    font-size: 0.8em;

}
.pro-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.details{
    text-decoration: none;
    transition: 0.4s ease;
}
.details:hover{
    color: rgb(173, 125, 250);
    transform: scale(1.1);
}
.contact{
    background-color: rgb(7, 1, 15)
}
.contact-window{
    background-color: rgb(55, 10, 128);
    width: 23em;
    box-shadow: 0 5px 25px rgb(100, 48, 184);
    border-radius: 10px;
    padding: 10px;
    margin: 30px; 
    transition: 0.6s ease;  
}
.contact-window:hover{
    transform: scale(1.1);
}

.contact-icon{
    color:whitesmoke;
    font-size: 4em;
    text-align: center;
}

.contact-info{
    text-align: center;
}
.contact-info h3{
    color: whitesmoke;
    font-size: 1.7em;
    font-weight: 800;
    margin: 10px;
}
.contact-info p {
    color: whitesmoke;
  font-size: 1.1em;
  font-weight: 500;
}
footer{
    padding: 2em;
    display:flex;
    justify-content: space-between;
    
}
footer p{
    font-size: 1.3em;
    font-weight: 600;
    padding: 0 12px 0 0;
}
footer p span{
    color: rgb(55, 10, 128);
    padding: 0 12px 0 0;
}
footer p a{
    color: rgb(55, 10, 128);
    font-size: 2.2em;
   padding-right: 16px;
    transition: 0.6s ease;
}
footer p a:hover{
    color: rgb(173, 125, 250);

}
footer .social-media{
    font-size:0.9em ;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 14px 10px;
       
    }
    .logo{
     margin-left: 0%;
       
    }
    .barre a{
        font-size: 0.9em;
        font-weight: 800;
        padding-left: 5px;
    }
    section{
        padding: 50px 25px;
    }
    .title{    
        font-size: 1.4em;
        font-weight: 800;
        margin-bottom: 20px;
    }
    .main{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background:rgb(7, 1, 15);
        
    }
    .main h2{
       margin-top: 30px;
        font-size: 1.1em;
        font-weight: 300;
    
    }
    .main h2 span{
       
        margin-top: 6px;
        color:rgb(100, 48, 184); 
        font-size: 1.6em;
        font-weight: 600;
    }
    .main h3{
        
        font-size: 0.9em;
        font-weight: 600;
       
    }
    .main-btn{
        font-size: 0.9em;
        font-weight: 500;    
    }
    .social-media a{
       
        font-size: 1.5em;
        padding-right: 30px;
        
    }
 
    .window{
        width: 15em;
        padding: 20px;
        margin: 25px; 
    }
    .icon{
      
        font-size: 2.2em;
        
    }

    .info h3{
      
    font-size: 0.9em;
    font-weight: 700;
    margin: 10px;
    }


    .tec-window{
      
        width: 8em;
        box-shadow: 0 1px 5px rgb(100, 48, 184);
        border-radius: 10px;
        padding: 10px;
        margin: 6px; 
        transition: 0.6s ease;  
    }
    .tec-icon{
        color:whitesmoke;
        font-size: 2.2em;
        text-align: center;
    }

    .tec-info h3{
      
        font-size: 0.9em;
        font-weight: 700;
        margin: 10px;
    }
    .pro-window {
     
        min-height: 9em;
        width:18.2em;
    
    }
    .pro-title span{
        font-size: 0.2;
    }
    .contact-window{
        width: 9em;
        box-shadow: 0 2px 5px rgb(100, 48, 184);   
        padding: 5px;
        margin: 5px; 
    }
    .contact-icon{
        font-size: 2em;
    }
    
    .contact-info h3{
        font-size: 0.8em;
        font-weight: 800;
        margin: 7px;
    }
    .contact-info p {
      font-size: 0.5em;
    }
    footer{
        padding: 1em;
    
        
    }
    footer p{
        font-size: 0.8em;
        font-weight: 600;
        padding: 0 12px 0 0;
    }
    footer p span{
        color: rgb(55, 10, 128);
        padding: 0 3px 0 0;
    }
    footer .social-media{
        font-size:0.8em ;
        padding: 0 0 6px 0;
    }
    footer p a{
     visibility: hidden;
     font-size: 0em;
    }
}